<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace值为接口全类名：实现接口式编程 -->
<mapper namespace="com.luke.cloud.account.dao.AccountMapper">

    <update id="freezeAmount">
        update tbl_account set freeze_amount = freeze_amount + #{freezeAmount}, balance = balance - #{freezeAmount},
        update_time = #{time}
        where id = #{id} and balance >= #{freezeAmount}
    </update>

    <update id="freezeAmountConfirm">
        update tbl_account set freeze_amount = freeze_amount - #{freezeAmount},update_time = #{time}
        where username = #{username} and freeze_amount >= #{freezeAmount}
    </update>

    <update id="freezeAmountCancel">
        update tbl_account set freeze_amount = freeze_amount - #{freezeAmount}, balance = balance + #{freezeAmount},
        update_time = #{time}
        where username = #{username} and freeze_amount >= #{freezeAmount}
    </update>

</mapper>